<!DOCTYPE html>
<html lang="en" dir="ltr">
  <% include partial/head.ejs %>
<div class="container">
  <h1>Sign up with get method</h1>
  <form class="" action="/users/userdetail1" method="get">
    <div class="form-group">
  <label for="username">Name:</label>
    <input type="text" class="form-control" id="username" name="username" value="">
    </div>
    <div class="form-group">
  <label for="useremail"> Email:</label>
    <input type="email" class="form-control" id="useremail" name="useremail" value="">
  </div>
  <div class="form-group">
  <label for="userpassword"> Password:</label>
    <input type="password" class="form-control" id="userpassword" name="userpassword" value="">
      </div>
    <button type="submit" name="save" class="btn btn-warning">Save</button>
  </form>
  </div>
  </body>
